@import 'reset.scss';
@import "color-shorts.scss";
@import "vars.scss";
@import "fonts.scss";
@import "typography.scss";
html {
  background-color: #180617;
}
body {
  background-color: var(--purple-2);
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1340px;
  @media (max-width: 1340px) {
    max-width: 1340px;
  }
  @media (max-width: 900px) {
    max-width: 900px;
  }
  @media (max-width: 640px) {
    max-width: unset;
  }
}
.container-wrapper {
  height: 100%;
  padding: 0 60px;
  @media (max-width: 900px) {
    padding: 0 30px;
  }
}
