h1 {
  font-family: "Lexend Exa";
  font-size: 74px;
  line-height: 92px;
}
.project-title {
  font-family: "Lexend Exa";
  font-size: 64px;
  line-height: 80px;
}
p, .t-text {
  font-family: "Kurale Regular";
  font-size: 24px;
  line-height: 35px;
}
