:root {
  --purple-3: #040521;
  --purple-2: #310830;
  --purple-1: #610A41;
  --yellow-3: #FB8F23;
  --yellow-2: #fff96c;
  --yellow-1: #FBF2AD;
  --red: #EE2865;
  --green-2: #066672;
  --green-1: #5BF6CB;
  --blue: #2F6FE6;
}
